### Student Performance Analysis

### 1. Problem Statement

In this project we will understand how the student's performance (best scores) is affected by other variables such as Gender, Ethnicity,Parental level of education, Lunch and Test Prepartion course

### 2. Data Collection

The dataset is taken from kaggle 

Data Source : https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
This dataset consists of 8 columns and  1000 rows.

### Importing Data and required packages

In [2]:
#importing necessary packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [6]:
#importing dataset 

df = pd.read_csv(r"D:\Projects\mlprojects\notebook\data\StudentsPerformance.csv")

#### Show first 5 records

In [7]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75